<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container-fluid">
        <a class="navbar-brand" asp-area="" asp-controller="Product" asp-action="CodePink">CodePink</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="CodePink">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="User"
                        asp-action="Welcome">Login/Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Laelynn">Laelynn</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Product"
                        asp-action="AllProducts">Products</a>
                </li>
                @if (Context.Session.GetInt32("uid") == 1)
                {
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="AddOne">Add
                            Product</a>
                    </li>
                }
                @if (Context.Session.GetInt32("uid") != null)
                {
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Logout">Logout</a>
                    </li>
                }

                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="ViewCart">Cart</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


@model List<Product>

<div class="top-container">
    <h1 class="title">Your Cart</h1>
    <div class="subtitle-container">
        <a class="subtitle-cart" asp-controller="Product" asp-action="AllProducts">Continue Shopping.</a>
        <a class="subtitle-cart" asp-controller="Product" asp-action="Checkout">Checkout.</a>
    </div>
</div>
<div>
    @{
        double? totalPrice = 0;
    }
    @foreach (Product product in Model)
    {
        <div class="card h-100 all-bg" style="width: 18rem;">
            <img src="@product.Img1" class="card-img-top w-100" style="width: 18rem;" alt="@product.Name">
            <div class="card-body">
                <div class="d-flex flex-row justify-content-between align-items-start mb3 sub-top-container">
                    <p class="card-text grey-text">@product.Price</p>
                </div>
                <div>
                    <a href="/codepink/@product.ProductId">@product.Name</a>
                    <form asp-controller="Product" asp-action="RemoveFromCart" asp-route-id="@product.ProductId">
                        <button class="btn">
                            <span class="all-bg"><i class="fa-solid fa-trash">Delete</i></span>
                        </button>
                    </form>
                    @* *@
                    <div class="container">
                        <input type="button" onclick="decrementValue()" value="-" />
                        <input type="text" name="quantity" value="1" maxlength="2" max="10" size="1" id="number" />
                        <input type="button" onclick="incrementValue()" value="+" />
                    </div>
                    @* *@


                </div>
                <div class="bottom-card-text-container">
                    <div class="left-container">
                        <p class="card-text bold">$@product.Price</p>
                        @{
                            totalPrice += @product.Price;
                        }
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<h4 class="total">
    @{
        string formattedTotal = $"{@totalPrice:0.00}";
    }
    Total: $@formattedTotal
</h4>