@{
    ViewData["Title"] = "View Product";
}

@model Product

<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container-fluid">
        <a class="navbar-brand" asp-area="" asp-controller="Product" asp-action="CodePink">CodePink</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="CodePink">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="User"
                        asp-action="LogReg">Login/Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Org" asp-action="Laelynn">Laelynn</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Product"
                        asp-action="AllProducts">Products</a>
                </li>
                @if (Context.Session.GetInt32("uid") == 1)
                {
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="AddOne">Add
                            Product</a>
                    </li>
                }
                @if (Context.Session.GetInt32("uid") != null)
                {
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Logout">Logout</a>
                    </li>
                }
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="ViewCart">Cart</a>
                </li>
            </ul>
        </div>
    </div>
</nav>



<h1>This is the view one product page.</h1>

<h3>@Model.Name</h3>
<h3>@Model.Category</h3>
<img class="viewImg" src="@Model.Img1">
<img class="viewImg" src="@Model.Img2">
<img class="viewImg" src="@Model.Img3">
<img class="viewImg" src="@Model.Img4">
<img class="viewImg" src="@Model.Img5">
<h3>Description: @Model.Description</h3>
<h3>Price: $@Model.Price</h3>

@if (Context.Session.GetInt32("uid") == 1)
{
    <a href="/codepink/edit/@Model.ProductId"><button class="button-56">Edit Product</button></a>
    <a href="/codepink/delete/@Model.ProductId"><button class="button-56">Delete Product</button></a>
}

<a href="/codepink/products"><button class="button-56">Back to products</button></a>